.container {
        width: 800px;
        height: 70vh;
        margin: auto;
        margin-top: 100px;
        border: 4px solid black;
        overflow: hidden;
        position: relative;
    }
    
    .slider {
        display: flex;
      }
      
      .slider img {
        transition: transform 0.5s ease-in-out;
        flex: 0 0 100%;
        width: 100%;
        height: 450px;
        position: absolute;
      }

      .btns {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translateX(-50%);
      }

      .prevBtn , .nextBtn {
        margin: 0 15px;
        border: none;
        font-size: 40px;
        background-color: rgb(139, 25, 25);
        font-weight: 700;
        border-radius: 4px;
      }